/AllTests.class
/Circle.class
/PerimeterArea.class
/Practice.class
/RectangleArea.class
/RectangleAreaTest.class
/Test1CircleArea.class
/TestCircleArea.class
/Triangle.class
/TriangleTest.class
/TriangleTest2.class
/test.class
